.ribbons-container {
    width: 100%;
    height: 100%;
    position: absolute;
    /* Cambiado a absolute para asegurar que llene el padre */
    top: 0;
    left: 0;
    pointer-events: none;
    /* Aseguramos que no bloquee clicks desde CSS también */
}